* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #020617;
}

.navbar h1 {
  color: #a855f7;
}

/* BUTTON */
.btn {
  background: linear-gradient(135deg, #7c3aed, #a855f7);
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  text-align: center;
}

.hero-text {
  width: 70%;
}

.hero-text h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-text p {
  color: #cbd5f5;
  margin-bottom: 25px;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
  background: #020617;
}

.feature {
  background: #111827;
  padding: 30px;
  width: 260px;
  text-align: center;
  border-radius: 15px;
}

.feature i {
  font-size: 36px;
  color: #a855f7;
  margin-bottom: 15px;
}

.feature h3 {
  margin-bottom: 10px;
}
